@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

main {
    width: 100%;
    height: 100vh;
    color: wheat;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    background: linear-gradient(rgba(225, 225, 225, 0.8), rgba(225, 225, 225, 0.8));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.background-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.slider {
    display: flex;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

main h4 {
    font-size: 2rem;
}

main h2 {
    font-family: 'Varela Round', sans-serif;
    font-size: 3.5rem;
    margin: 2rem 0;
    letter-spacing: 3px;
}

main p {
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.25rem;
}

main button.mouse {
    background-color: transparent;
    border: none;
    font-size: 3rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
    animation: upDown 1s ease-in-out infinite;
}

main h2 span::after {
    content: "";
    height: 40px;
    width: 3px;
    background-color: #fff;
    display: inline-block;
    animation: blink .7s ease-in-out infinite;
}



@keyframes upDown {
    0% {
        bottom: 1rem;
    }
    50% {
        bottom: 1.5rem;
    }
    100% {
        bottom: 1rem;
    }
}
